#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#define MOVE_UP_M MOVE_VERT(-1200)
#define MOVE_DOWN_M MOVE_VERT(1200)
#define MOVE_LEFT_M MOVE_HOR(-1200)
#define MOVE_RIGHT_M MOVE_HOR(1200)

#define MOVE_UP_F MOVE_VERT(-3500)
#define MOVE_DOWN_F MOVE_VERT(3500)
#define MOVE_LEFT_F MOVE_HOR(-3500)
#define MOVE_RIGHT_F MOVE_HOR(3500)

#define SCROLL_UP_F SCROLL_VERT(30)
#define SCROLL_DOWN_F SCROLL_VERT(-30)
#define SCROLL_LEFT_F SCROLL_HOR(-30)
#define SCROLL_RIGHT_F SCROLL_HOR(30)

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <150>;
            global-quick-tap;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
        hms: homerow_mods_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_SHFT";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <50>;
            global-quick-tap;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSPACE_DELETE";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        sll: behavior_sticky_layer_2_sec {
			compatible = "zmk,behavior-sticky-key";
			label = "STICKY_LAYER";
			#binding-cells = <1>;
			release-after-ms = <2000>;
			bindings = <&mo>;
            quick-release;
		};
        sm: sticky_momentary_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "STICKY_MOMENTARY_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <50>;
            global-quick-tap;
            flavor = "balanced";
            bindings = <&mo>, <&sll>;
        };

        mmvf: mouse_move_fast {
			compatible = "zmk,behavior-mouse-move";
			label = "MOUSE_MOVE_FAST";
			#binding-cells = <1>;
			delay-ms = <0>;
			time-to-max-speed-ms = <100>;
			acceleration-exponent = <0>;
		};
        mwha: mouse_scroll_accel {
			compatible = "zmk,behavior-mouse-scroll";
			label = "MOUSE_SCROLL";
			#binding-cells = <1>;
			delay-ms = <0>;
			time-to-max-speed-ms = <300>;
			acceleration-exponent = <1>;
		};
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "COLEMAK";
            bindings = <

   &kp TAB     &kp Q         &kp W       &kp F       &kp P         &kp B                      &kp J      &kp L         &kp U       &kp Y       &kp SEMI     &kp BSLH

   &kp ESC     &hm LCTRL A   &hm LALT R  &hm LGUI S  &hms LSHFT T  &kp G                      &kp M      &hms RSHFT N  &hm RGUI E  &hm RALT I  &hm RCTRL O  &kp SQT

   &caps_word  &kp Z         &kp X       &kp C       &kp D         &kp V                      &kp K      &kp H         &kp COMMA   &kp DOT     &kp FSLH     &kp CAPS


                                         &to 3       &kp SPACE     &sm 2 2                    &kp RET    &sm 1 1         &bspc_del
            >;
        };
        lower_layer {
            label = "NUM_SYM";
            bindings = <

   &kp TILDE    &kp EXCL       &kp STAR         &kp LBKT       &kp RBKT         &none                &kp COMMA    &kp N7         &kp N8       &kp N9       &kp MINUS        &bt BT_CLR

   &kp GRAVE    &hm LCTRL AT   &hm LALT HASH    &hm LGUI LPAR  &hms LSHFT RPAR  &kp CARET            &kp DOT      &hms RSHFT N4  &hm RGUI N5  &hm RALT N6  &hm RCTRL EQUAL  &kp PLUS

   &to 1        &kp PRCNT      &kp DLLR         &kp LBRC       &kp RBRC         &kp AMPS             &kp N0       &kp N1         &kp N2       &kp N3       &kp UNDER        &bt BT_SEL 0


                                                &to 3          &kp SPACE        &sm 2 2              &kp RET      &to 1          &to 0
            >;
        };

        raise_layer {
            label = "FN_ARROW";
            bindings = <

   &none    &kp F9        &kp F10       &kp F11      &kp F12        &none               &kp DOWN    &kp RIGHT        &kp UP         &none           &kp C_VOL_UP      &kp C_BRI_UP

   &none    &hm LCTRL F5  &hm LALT F6   &hm LGUI F7  &hms LSHFT F8  &none               &none       &hms RSHFT LEFT  &hm RGUI DOWN  &hm RALT RIGHT  &hm RCTRL C_MUTE  &kp C_BRI_AUTO

   &to 2    &kp F1        &kp F2        &kp F3       &kp F4         &none               &kp UP      &kp LEFT         &none          &none           &kp C_VOL_DN      &kp C_BRI_DN


                                        &to 3        &kp SPACE      &to 2               &kp RET     &sm 1 1          &to 0
            >;
        };

        mouse_layer_fast {
            label = "MOUSE_FAST";
            bindings = <

   &kp TAB  &none      &none               &mmvf MOVE_UP_F     &none               &none               &none       &none       &none     &none     &none      &none

   &mo 5    &mo 4      &mmvf MOVE_LEFT_F   &mmvf MOVE_DOWN_F   &mmvf MOVE_RIGHT_F  &none               &none       &kp RSHFT   &kp RGUI  &kp RALT  &kp RCTRL  &none

   &none    &kp Z      &kp X               &kp C               &kp D               &kp V               &none       &none       &none     &none     &none      &none


                                           &mkp MCLK           &mkp LCLK           &mkp RCLK           &mkp RCLK   &mkp LCLK   &to 0
            >;
        };

        mouse_layer_prec {
            label = "MOUSE_PREC";
            bindings = <

   &kp TAB  &none      &none             &mmv MOVE_UP_M     &none              &none               &none       &none       &none     &none     &none      &none

   &trans   &trans     &mmv MOVE_LEFT_M  &mmv MOVE_DOWN_M   &mmv MOVE_RIGHT_M  &none               &none       &kp RSHFT   &kp RGUI  &kp RALT  &kp RCTRL  &none

   &none    &kp Z      &kp X             &kp C              &kp D              &kp V               &none       &none       &none     &none     &none      &none


                                         &mkp MCLK          &mkp LCLK          &mkp RCLK           &mkp RCLK   &mkp LCLK   &to 0
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <

   &kp TAB  &none      &none                &mwha SCROLL_UP_F     &none                 &none               &none       &none       &none     &none     &none      &none

   &trans   &trans     &mwha SCROLL_LEFT_F  &mwha SCROLL_DOWN_F   &mwha SCROLL_RIGHT_F  &none               &none       &kp RSHFT   &kp RGUI  &kp RALT  &kp RCTRL  &none

   &none    &kp Z      &kp X                &kp C                 &kp D                 &kp V               &none       &none       &none     &none     &none      &none


                                            &mkp MCLK             &mkp LCLK             &mkp RCLK           &mkp RCLK   &mkp LCLK   &to 0
            >;
        };
    };
};
