#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <100>;
            global-quick-tap;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
        hms: homerow_mods_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_SHFT";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSPACE_DELETE";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        sm: sticky_momentary_Layer {
            compatible = "zmk,behavior-hold-tap";
            label = "STICKY_MOMENTARY_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <50>;
            global-quick-tap;
            flavor = "balanced";
            bindings = <&mo>, <&sl>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "COLEMAK";
            bindings = <

   &kp TAB     &kp Q         &kp W       &kp F       &kp P         &kp B         &kp J      &kp L         &kp U       &kp Y       &kp SEMI     &kp BSLH

   &kp ESC     &hm LCTRL A   &hm LALT R  &hm LGUI S  &hms LSHFT T  &kp G         &kp M      &hms RSHFT N  &hm RGUI E  &hm RALT I  &hm RCTRL O  &kp SQT

   &caps_word  &kp Z         &kp X       &kp C       &kp D         &kp V         &kp K      &kp H         &kp COMMA   &kp DOT     &kp FSLH     &kp CAPS


                                         &sm 2 2     &kp SPACE     &sm 2 2       &kp RET    &bpc_del      &sm 1 1
            >;
        };
        lower_layer {
            label = "NUM_SYM";
            bindings = <

   &kp TAB     &kp Q         &kp W       &kp F       &kp P         &kp B         &kp J      &kp N7         &kp N8       &kp N9       &kp SEMI     &bt BT_CLR

   &kp ESC     &hm LCTRL A   &hm LALT R  &hm LGUI S  &hms LSHFT T  &kp G         &kp M      &hms RSHFT N4  &hm RGUI N5  &hm RALT N6  &hm RCTRL O  &bt BT_SEL 0

   &caps_word  &kp Z         &kp X       &kp C       &kp D         &kp V         &kp K      &kp N1         &kp N2       &kp N3       &kp FSLH     &kp CAPS


                                         &sm 2 2     &sm 2 2       &kp SPACE     &kp RET    &to 0          &to 1
            >;
        };

        raise_layer {
            label = "SYMBOL";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
            bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                    	     &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
            >;
        };
    };
};
